/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root CSS */

html {
    font-family: "Poppins";
    font-size: 14px;
  }
body {
  background-color: #F9F9F9;
}

@font-face {
  font-family: Poppins;
  src: url(./assets/font/Poppins-Regular.ttf);
  font-weight: normal;
}

.rdw-editor-wrapper {
  border: 1px solid #00000033;
  border-radius: 8px;
}

.rdw-editor-toolbar {
  background: #00000008 !important;
  padding: 12px !important;
}

.rdw-option-wrapper {
  background: none !important;
}

.rdw-dropdown-wrapper {
  background: none !important;
}

.rdw-editor-main {
  min-height: 300px;
  padding: 12px !important;
}

.public-DraftStyleDefault-block {
  margin: 0 !important;
}

.rdw-image-center {
  justify-content: space-between !important;
}

.tox-menubar {
  display: none !important;
}

.tox-tinymce {
  border: 1px solid #00000033 !important;
  border-radius: 8px !important;
}

.tox-statusbar{
  display: none !important;
}

.tox-editor-header {
  background: #00000008 !important;
  box-shadow:none !important;
}

.tox-toolbar__primary {
  gap: 20px;
}
.tox-toolbar-overlord, .tox-toolbar__primary, .tox-toolbar__group {
  background: none !important;
}

.tox .tox-tbtn {
  background: none !important;
}