/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root CSS */

html {
    font-family: "Poppins";
    font-size: 14px;
  }
body {
  background-color: #F9F9F9;
}

@font-face {
  font-family: Poppins;
  src: url(./assets/font/Poppins-Regular.ttf);
  font-weight: normal;
}
